$screen-xxs-min: 0px;
$screen-xxs-max: 400px;
$screen-xs-min: 401px;
$screen-xs-max: 639px;

@use 'vuetify/settings' with (
  $color-pack: false,
  $utilities: false,
  $tooltip-background-color: rgba(var(--v-theme-surface-variant), 1),
);

.v-main {
  padding-top: 0 !important;
}

.v-card-title {
  font-family: var(--custom-title-font);
}

.v-snackbar__wrapper {
  min-width: 280px;
}

.v-col--full-width-xxs-only {
  @media (max-width: $screen-xxs-max) {
    max-width: 100%;
    width: 100%;
    flex: 0 0 100%;
    margin-bottom: 10px
  }
}

.v-divider--xxs-only {
  @media (min-width: $screen-xs-min) {
    display: none;
  }
}