@use 'vuetify/settings' with (
  $color-pack: false,
  $utilities: false,
  $tooltip-background-color: rgba(var(--v-theme-surface-variant), 1),
  $card-title-text-transform: uppercase,
);


.v-card-title {
  font-family: var(--custom-title-font);
}